node_modules
.env
*/.env
.DS_Store
config/ridercms-ced94-firebase-adminsdk-fbsvc-3d27aedd19.json
logs/error-2025-12-07.log
logs/*
package-lock.json
db/ALTER TABLE deposits.sql
ridercms-ced94-default-rtdb-672a4e90-146b-4fbb-a48d-ec768f28dd70-export.json
newxx.txt
problem-sol.txt
